<html>
  <head>
    <title>Ola's blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    <div>
      <p>published: 14.06.2014, 12:14</p>
      <h2>
        <a href="">My first post</a>
      </h2>
      <p>Dolor deserunt eaque aut hic iure? Asperiores similique fuga possimus quisquam quasi recusandae Quis minima</p>
    </div>

    <div>
      <p>published: 14.06.2014, 12:14</p>
      <h2><a href="">My second post</a></h2>
      <p>Elit aperiam pariatur quisquam ducimus voluptate iste Sequi totam saepe nulla iusto repellendus culpa At?</p>
    </div>

    <div>
      <p>published: 14.06.2014, 12:14</p>
      <h2><a href="">My second post</a></h2>
      <p>Consectetur nam nihil totam deserunt id, magnam ea Corporis ipsa eligendi cupiditate dolores placeat nisi</p>
    </div>
  </body>
</html>
